@mixin interactive-scale($color, $bg, $scale: 1.05) {
  transform: scale(1);
  transition: transform 350ms ease;

  &:hover,
  &:focus {
    transform: scale($scale);
    color: $color;
    background-color: $bg;
  }
}
